In [1]:
%matplotlib inline
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt

In [2]:
import numpy as np
import pandas as pd

In [3]:
import datetime as dt

# Reflect Tables into SQLAlchemy ORM

In [4]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [5]:
engine = create_engine("sqlite:///Resources/hawaii.sqlite")

In [6]:
# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

In [7]:
# We can view all of the classes that automap found
Base.classes.keys()

['measurement', 'station']

In [8]:
# Save references to each table
measurement = Base.classes.measurement
station = Base.classes.station

In [9]:
# Create our session (link) from Python to the DB
session = Session(engine)

# Exploratory Climate Analysis

In [21]:
#Find date of last data point 
last = session.query(measurement.date).order_by(measurement.date.desc()).first()
print(last)

('2017-08-23',)

In [25]:
# Calculate the date 1 year ago from the last data point in the database

last_year = dt.date(2017,8,23) - dt.timedelta(days=365)
print(last_year)

2016-08-23

In [29]:
# Perform a query to retrieve the data and precipitation scores
lastyear_query = session.query(measurement.date, measurement.prcp).\
    filter(func.strftime(measurement.date) >= "2016-08-23").all()

In [33]:
# Save the query results as a Pandas DataFrame and set the index to the date column
precip_df = pd.DataFrame(lastyear_query).set_index("date")
precip_df.head()

            prcp
date
2016-08-23  0.00
2016-08-24  0.08
2016-08-25  0.08
2016-08-26  0.00
2016-08-27  0.00

In [34]:
# Sort the dataframe by date
precip_df = precip_df.sort_index()
precip_df

            prcp
date
2016-08-23  0.00
2016-08-23   NaN
2016-08-23  1.79
2016-08-23  0.05
2016-08-23  0.15
...          ...
2017-08-22  0.00
2017-08-23  0.00
2017-08-23  0.00
2017-08-23  0.08
2017-08-23  0.45

[2230 rows x 1 columns]

In [39]:
# Use Pandas Plotting with Matplotlib to plot the data

NameError: name 'index' is not defined

In [41]:
# Use Pandas to calculate the summary statistics for the precipitation data
precip_df.describe()

              prcp
count  2021.000000
mean      0.177279
std       0.461190
min       0.000000
25%       0.000000
50%       0.020000
75%       0.130000
max       6.700000

In [ ]:
# Design a query to show how many stations are available in this dataset?

In [ ]:
# What are the most active stations? (i.e. what stations have the most rows)?
# List the stations and the counts in descending order.

In [ ]:
# Using the station id from the previous query, calculate the lowest temperature recorded, 
# highest temperature recorded, and average temperature of the most active station?

In [ ]:
# Choose the station with the highest number of temperature observations.
# Query the last 12 months of temperature observation data for this station and plot the results as a histogram